.App-ShoppingCartIcon {
  height: 60vmin;
  pointer-events: none;
}


.App-header {
  align-items: center;
  min-width: 205vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-signin {
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

}

.Sign-In {
  color: white;
  background-color: blue;
  width: 350px;
  border-color: blue;
}

.App-link {
  color: white;

}

.search-label {
  padding-right: 320px;
}

.Logout-btn {
  background-color: rgb(241, 64, 64);
}

.Sort {
  margin-left: 40px;
}

.wrap_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}